$color-white: #fff;
$color-primary: #375a7f;
$color-success: #00bc8c;
$color-info: #3498db;
$color-warning: #f39c12;
$color-danger: #e74c3c;
$color-transparent: transparent;

$light-bg-body: #f0f2f5;
$light-bg-content: #ffffff;
$light-bg-hover: #e4e6e9;
$light-secondary: #00bc8c;
$light-text: #050505;
